@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.heroimage {
  background-image: url("../assets/par_impar.png");
  height: 100vh;
  /*width: 100vh; */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.umdedoimage {
  background-image: url("../assets/mao_um_dedo.png");
  height: 30vh;
  width: 20vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doisdedosimage {
  background-image: url("../assets/mao_dois_dedos.png");
  height: 30vh;
  width: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tresdedosimage {
  background-image: url("../assets/mao_tres_dedos.png");
  height: 30vh;
  width: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quatrodedosimage {
  background-image: url("../assets/mao_quatro_dedos.png");
  height: 30vh;
  width: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cincodedosimage {
  background-image: url("../assets/mao_cinco_dedos.png");
  height: 30vh;
  width: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.inicio {
  display: flex;
  height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 40px;
  text-align: center;
}

.resultScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;

  padding: 30px;
}

#inputName1 {
  width: 25vw;
  height: 1vw;
  padding: 6px;
}

#inputName2 {
  width: 25vw;
  height: 1vw;
  padding: 6px;
}

#inputQtdeFirst {
  width: 5vw;
  height: 1vw;
  padding: 6px;
}

#inputQtdeSecond {
  width: 5vw;
  height: 1vw;
  padding: 6px;
}

#btnPar {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(53, 53, 53);
  color: aqua;
}

#btnImpar {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(53, 53, 53);
  color: red;
}

.selecionado {
  border: 10px solid blueviolet;
  border-radius: 200px;
}

.turn {
  border: 10px solid blue;
  border-radius: 200px;
}

/* mostra o elemento html */
.show {
  display: block;
}

/* esconde o element html */
.hide {
  display: none !important;
}
